<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/resources/images/Favicon.png" type="/resources/image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/resources/css/style-login2.css">
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>La voz de Amalfi | Amalfi</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/resources/images/Favicon.png" type="/resources/image/png">
        
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/resources/css/animate.css">
        
    <!--====== Glide CSS ======-->
    <link rel="stylesheet" href="/resources/css/tiny-slider.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/resources/css/LineIcons.2.0.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/resources/css/bootstrap-5.0.0-beta1.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/resources/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" src="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/style.css">

    
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'bf4ec5a589b1858b9d13ab3f3b6153948defae49';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>


    
</head>
<body>
    
        <img class="logo-login" src="/resources/images/logo2.png" alt="logo-login">

        <div class="about_content pt-120 pb-130">
            <div class="section_title pb">
                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Nosotros</h4>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">La Voz de Amalfi es una empresa radial que se fundó en el año 1972, por la necesidad evidente de un medio de comunicación que buscaba informar a una población aislada. </p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">El equipo inicial estuvo conformado por un parlante en las torres de la iglesia, en el cual por horas  se complacía el gusto musical de los pobladores, e igualmente se informaba  sobre los proyectos y acontecimientos principales.</p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">En el mes de Septiembre del año 1972 el presbítero  Gerardo Montoya Montoya y algunos amigos como el Dr. Pablo Cárdenas Pérez, Mauro Cárdenas Estrada, Cristóbal Monsalve, Francisco Estrada y Ángel Salazar Monsalve, entre otros, se dieron a la tarea de gestionar ante el Ministerio de Comunicaciones la licencia que permitiera el funcionamiento legal de la  Emisora La Voz de Amalfi, razón social que sustituyo el de “Radio Renovación”, como se conocía el medio de comunicación que se generaba por el PARLANTE.</p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">El Ingeniero Mario Fric con la asistencia técnica de Antonio Serna, Lázaro Cossío y Enoc Osorio, instalaron los modernos equipos fabricados y adaptados por el Ingeniero Fric, laborando ininterrumpidamente  hasta la fecha.</p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">La licencia  de funcionamiento fue asignada por el Ministerio de Comunicaciones mediante resolución No.  4497 del 22 de Noviembre de 2013 distintivo de llamada HJMU 1460.
                    En la actualidad, La Emisora La Voz de Amalfi, es una empresa radial, que presta un servicio de comunicación objetiva y con calidad, con un equipo de profesionales calificados que brindan acompañamiento, entretenimiento y cultura a la comunidad en general y que impulsa y rescata los valores sociales, morales, cívicos y culturales; las organizaciones sociales y comunitarias.</p>
                <br>
                <br>
                                                            
                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Misión</h4>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Brindar a la población radioescucha, contenidos  radiofónicos que les formen, informen y entretengan sana y objetivamente; fomentando y fortaleciendo los valores familiares, sociales, culturales y la participación ciudadana.
                    Somos pluralistas en el mayor sentido de la palabra y como bandera tenemos la vida y la honra de las personas.</p>
                    <br>
                    <br>                    
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Visión</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">En el año 2020 la Emisora La Voz de Amalfi será  un medio de comunicación  público eficiente, competitivo,  moderno, un espacio plural e incluyente de la ciudadanía; de referencia en el mercado departamental; nos conocerán por nuestros logros, perseverancia y desempeño, con equipos técnicos de alta tecnología, que nos permitirán una mayor cobertura y operatividad, para entregar comunicación de mayor calidad e incursión en el crecimiento comunitario y así mostrar la consolidación del Bloque Regional del  Nordeste,  con la vinculación determinante de las Administraciones Municipales, empresas, entes gubernamentales y fuerzas vivas que hacen presencia en la región.</p>
                    <br>
                    <br>                    
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Valores</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Personas: aseguramos las oportunidades de desarrollo basadas en el mérito y en la aportación profesional.</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Seguridad y Salud: nos comprometemos decididamente con la seguridad y salud laboral, promoviendo una cultura preventiva.</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Trabajo en equipo: fomentamos la participación de todos para lograr un objetivo común, compartiendo información y conocimientos.</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Conducta ética: actuamos con profesionalidad, integridad moral, lealtad y respeto a las personas.</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Orientación al cliente: centramos nuestro esfuerzo en la satisfacción del cliente, aportando soluciones competitivas y de calidad.</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Innovación: promovemos mejoras continuas e innovación para alcanzar la máxima calidad desde criterios éticos,  sociales, morales y de competitividad</p>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">•	Comunidad y medio ambiente: nos comprometemos social y culturalmente con la comunidad y adaptamos nuestras estrategias empresariales a la preservación del medioambiente.</p>

            </div> <!-- section title -->
            <a href="/auth" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                data-wow-delay="0.7s">Volver a Inicio</a>
        </div> <!-- about content -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle  %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton:'<%= showConfirmButton %>',
            timer:  '<%= timer %>',
        }).then(()=>{
            window.location= '/<%= ruta %>'
        })
    </script>
    <% } %>
    
</body>
</html>
